## 2.2.1 读取数据集

In [2]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)           # 创建了一个data文件夹
data_file = os.path.join('..', 'data', 'house_tiny.csv')    # 在data文件夹下创建一个空csv文件 
with open(data_file, 'w') as f:                             #得写入数据进csv文件内，csv文件才会在目录中出现
    f.write('NumRooms, Alley, Price\n')
    f.write('NA, Pave, 127500\n')
    f.write('2, NA, 106000\n')
    f.write('4, NA, 178100\n')
    f.write('NA, NA, 140000\n')

In [2]:
import pandas as pd 

data = pd.read_csv(data_file)
print(data)

C:\Users\24667\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\24667\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\24667\anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

   NumRooms  Alley   Price
0       NaN   Pave  127500
1       2.0     NA  106000
2       4.0     NA  178100
3       NaN     NA  140000

## 2.2.2 处理缺失值

In [3]:
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]   #iloc是索引行，列来寻找值
inputs = inputs.fillna(inputs.mean())     #用指定方法填充 NA/NaN值
print(inputs)

   NumRooms  Alley
0       3.0   Pave
1       2.0     NA
2       4.0     NA
3       3.0     NA

In [4]:
inputs = pd.get_dummies(inputs, dummy_na=True)  #这个有什么用呢？？
inputs

   NumRooms   Alley_ NA   Alley_ Pave   Alley_nan
0       3.0           0             1           0
1       2.0           1             0           0
2       4.0           1             0           0
3       3.0           1             0           0

对于inputs中的类别值或离散值，我们将“NaN”视为一个类别。 由于“巷子类型”（“Alley”）列只接受两种类型的类别值“Pave”和“NaN”， pandas可以自动将此列转换为两列“Alley_Pave”和“Alley_nan”。 巷子类型为“Pave”的行会将“Alley_Pave”的值设置为1，“Alley_nan”的值设置为0。 缺少巷子类型的行会将“Alley_Pave”和“Alley_nan”分别设置为0和1。

## 2.2.3 转换为张量的格式

In [6]:
import torch

X = torch.tensor(inputs.to_numpy(dtype=float))  #to_numpy是pd中的一种用法，可以将dataframe转成numpy类型
Y = torch.tensor(outputs.to_numpy(dtype=float))
X, Y

(tensor([[3., 0., 1., 0.],
         [2., 1., 0., 0.],
         [4., 1., 0., 0.],
         [3., 1., 0., 0.]], dtype=torch.float64),
 tensor([127500., 106000., 178100., 140000.], dtype=torch.float64))

## 2.2.4小节

pandas软件包是Python中常用的数据分析工具中，pandas可以与张量兼容。

用pandas处理缺失的数据时，我们可根据情况选择用插值法和删除法。